{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "import/extensions": [".js", ".jsx"]
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "react/jsx-filename-extension": [2, { "extensions": [".jsx",".js"] }],
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"

      }
    ],
    "no-unused-vars": 1,
    "no-shadow": 0,
    "no-console": 1,
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "react/react-in-jsx-scope": 0,
    "import/no-unresolved": [2, { "ignore": ["^swiper"] }],
    "import/prefer-default-export": 0
  }
}
